@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Services"];
}
<h1>@Localizer["Service Request Status"]</h1>

<p>@Localizer["This feature is to be implemented later"]</p>