@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Events"];
}
<h1>@Localizer["Local Events and Announcements"]</h1>

<p>@Localizer["This feature is to be implemented later"]</p>